# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# MLflow
mlruns/

# OS Files
.DS_Store
Thumbs.db
# Airflow
airflow/logs/
logs/

# Airflow Database
airflow/*.db

# Backup Files
*_backup.py
*_backup2.py